/*-----------------------*/
/*Aquí estarán los estilos comunes del encabezado y el pie de página*/
/*-----------------------*/

/*Elimina la barra de desplazamiento horizontal*/
body{
    overflow-x: hidden;
}

/*Formato del Encabezado*/
header {
    background-color: #cfdfdf;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*Línea amarilla de 35px pegada a la parte superior del header*/
header::before {
    content: '';
    background-color: #FEE0B5;
    height: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1; /*Añadimos un z-index para que esté sobre otros elementos*/
}

/*Línea de rayas blancas y rojas de 70px bajo la línea amarilla */
header::after {
    content: '';
    background: repeating-linear-gradient(to right, #F07476 0, #F07476 35px, white 35px, white 70px);
    height: 70px;
    width: 100%;
    position: absolute;
    top: 35px;
    z-index: 0; /*Añadimos un z-index menor para que esté detrás de otros elementos*/
}

/*Texto del Encabezado*/
header>div{
    z-index: 2;
    width: 99%;
    align-items: center; 
    min-height: auto;
    position: absolute;
}

/*Logotipo de CinESI*/
header>a>img{
    position: relative;
    z-index: 3;
}

/*Encabezado de CinESI*/
h1{
    font-size: 8em;
    background: rgb(255, 255, 255, 0.4);
    color: #602B2C;
    width: 3.15em;
    height: 1.02em;
    margin: 0 auto; /*Añadimos esta línea para centrar horizontalmente*/
    margin-top: -0.2em;
    text-align: center; /*Añadimos esta línea para centrar el texto dentro de la etiqueta*/
    font-family: "Caveat";
    font-weight: 700;
    font-style: normal;
}

/*Barra de Navegación*/
nav{
    width: 100%;
    max-width: 110em;
    display: flex;
    justify-content:space-evenly;
    align-items: end;
    padding: 24px 24px;
    margin-top: -0.9em;
}

/*Elementos de la Barra de Navegación*/
nav>a{
    font-size: 3em;
    width: max-content;
    color: #602B2C;
    font-family: "Caveat";
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    margin-top: -0.2em;
}

/*Animación al pasar por encima de los elementos de la Barra de Navegación*/
nav>a:hover{
    background-color: #FEE0B5;
    box-shadow: 0 0 1em #FEE0B5 ;
    border-radius: 20%;
    color:#602B2C;
    transition: all 0.4s;
}

/*Formato del Pie de Página*/
footer{
    background-color: #cfdfdf;
    position: absolute;
    display: flex;
    height: 20em;
    width: 99%;
    margin-top: 2em; 
    align-items: center;
    justify-content:space-evenly;
}

/*Imagen de CinESI en el Pie de Página*/
footer>a>img{
    position:relative;
}

/*Texto del Pie de Página*/
footer>div{
    display: flex;
    
}

/*Secciones de texto del Pie de Página*/
footer>div>div{
    padding-left: 2em;
}

/*Enlaces del Pie de Página*/
div>a{
    position: relative;
    margin-left: 1em;
    font-size: 1.5em;
}

/*Media Queries*/
@media(max-width: 950px){

    footer>div{
        display: block;
        margin-left: 0em;
    }

    footer>a>img{
        height: 23em;
    }

    footer{
        padding: 1em;
    }

}

@media(max-width: 900px){

    nav>a:first-child{
        display: none;
    }

}

@media(max-width: 850px){

    footer{
        margin-left: -2em;
    }

}